<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteRule ^inicio$  index.php [L,NC]
RewriteRule ^inicio/$ index.php [L,NC]
RewriteRule ^inicio/(.*)$ index.php?pagina=$1

RewriteRule ^registro$  register.php [L,NC]
RewriteRule ^registro/$ register.php [L,NC]

RewriteRule ^acceder$  login.php [L,NC]
RewriteRule ^acceder/$ login.php [L,NC]

RewriteRule ^salir$  logout.php [L,NC]
RewriteRule ^salir/$ logout.php [L,NC]

RewriteRule ^team$  team.php [L,NC]
RewriteRule ^team/$ team.php [L,NC]

RewriteRule ^minichat$  minichat.php [L,NC]
RewriteRule ^minichat/$ minichat.php [L,NC]

RewriteRule ^account$  profile.php [L,NC]
RewriteRule ^account/$ profile.php [L,NC]
RewriteRule ^account/(.*)$ profile.php?id=$1

RewriteRule ^myaccount$  myprofile.php [L,NC]
RewriteRule ^myaccount/$ myprofile.php [L,NC]
RewriteRule ^myaccount/(.*)$ myprofile.php?id=$1


</IfModule>

# Error
ErrorDocument 404 /inicio